.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 0;
  /* width: 100%; */
  max-height: 400px;
  min-width: 100px;

  z-index: 1;
}

.product__rating {
  display: flex;
}

.product > img {
  align-self: flex-start;
  max-height: 300px;
  /* width: 100%; */
  object-fit: contain;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  /* margin-bottom: 15px; */
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.product__info {
  /* height: 100px; */
  /* margin-bottom: 15px; */
  align-self: flex-start;
  background-color: rgb(247, 247, 247);
  padding: 0.5rem;

  /* text-align: center; */
}
.product__info a {
  text-decoration: none;
  color: #c4293c;
}
.product__info-price-desc {
  padding: 0 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
}
.desc {
  align-self: flex-start;
  width: 100%;
}
.product_name {
  padding: 0.5rem 0;
  background-color: rgb(247, 247, 247);
}
.prdct-btn {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  color: #c4293c;
  border: 1px solid #c4293c;
}
.prdct-btn:hover {
  background-color: #c4293c;
  color: white;
}
.productImg {
  margin: 0;
}

.main .container {
  margin: 0 auto;
  max-height: 300px;
  display: flex;
  align-items: center;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
.img-container {
  max-height: 300px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.img-container > img {
  max-height: 300px;
  margin: 0 auto;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
